.icon {
     text-align: center;
 }
h2 {
    text-align: center;
}
p {
    text-align: center;
}
h1 {
    text-align: center;
    font-size: 50px;
    color: white; 
}
.welcome p{
    color:white;
}
.column {
    float: left;
    width: 30.05%;
    left: 50%;
}
h2,h3 {
    line-height: 60px;
}

header {
    background-image: url("https://raw.githubusercontent.com/jonnygovish/IP3/master/assets/backgrounds/h_img.jpg");
    height:1000px;
    width: 100%;
    margin: auto;
    display: table;
    background-size:cover;
}
body {
    text-align: center;
}
.welcome{
    text-align: center;
    vertical-align: middle;
    max-width: 500px;
    margin:auto;
    display: table-cell;
    color: white;
}
.services {
    background-image: url("https://raw.githubusercontent.com/jonnygovish/IP3/master/assets/backgrounds/s_image.jpg");
    width: 100%;
    height: 485px;
    color: white;
}
.contacts {
    background-image: url("https://raw.githubusercontent.com/jonnygovish/IP3/master/assets/backgrounds/c_image.jpg");
    width: 100%;
    height:680px;
    margin:auto;
    color: white;
    text-align: center;
    padding-bottom: 20px;


}
