.icon {
     text-align: center;
 }
h2 {
    text-align: center;
}
p {
    text-align: center;
}
h1 {
    text-align: center;
}
.column {
    float: left;
    width: 30.05%;
    left: 50%;
}
h2,h3 {
    line-height: 60px;
}

header {
    background-image: url("https://raw.githubusercontent.com/jonnygovish/IP3/master/assets/backgrounds/h_img.jpg");
    height: 800px;
    text-align: center;
    padding: 100px;
    
}
body {
    text-align: center;
}
section.services {
    
}