body {
    text-align: center;
}
.icon {
     text-align: center;
 }
h2.p {
    text-align: center;
    height: 50px;
    margin-top: 100px;
    width:100%;
    padding-top: 300px;
}
h3 {
    padding-top: 150px;
    text-align: center;
    text-shadow: 1px 1px;
    
}
h2 { 
    text-align: center;
    margin-top: 20px;
}
p {
    text-align: center;
}
h1 {
    text-align: center;
    font-size: 50px;
    color: white; 
}
.welcome p{
    color:white;
}
.column {
    float: left;
    width: 30.05%;
    left: 50%;
}
/* h2,h3 {
    line-height: 60px;
} */
.mexo{
    /* background-color: red; */
    max-width: 70% !important; 
}

.col-md-4{
    text-align: center;
}
#design{
    align-content: center;
    text-align: center;
}

#design-showing, #dev-showing, #pro-showing {
    display: none;
}
.col{
    position: relative;
}
.projectz{
    position: relative;
    display: inline-block;
    overflow: hidden;
    max-width: 100%;
    height: auto;
}
.uno .uno-hover {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 13px;
    right: 0;
    bottom: -5px;
    width: 90%;
    height: 92%;
    background: rgba(0, 0, 0, 0.3);
    background-size: contain;
    color: #fff;
    padding: 15px;
    -moz-transition: all 0.4s ease-in-out 0s;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -ms-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}
.clickable {
    justify-content: center;
}
#portfolio{
    padding: 100px;
    margin: 0 auto;
    position: relative;
    left: 50%;
    transform: translate(-50%);

}
.col img{
    width: 100%;

}
.col{
    position: relative;
    
}
.hide{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.397);
    display: none;
}
.hide p{
    border: solid rgb(255, 255, 255);
    width: 50%;
    border-left: 100px;
    padding-top: 45px;
    padding-right: 100px;
    padding-bottom: 50px;
    margin-top: 20%;
}
.portfolio {
    padding: 100px;
    margin: 0 auto;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    
}
.prt {
    width: 50%;
}
header {
    background-image: url("https://raw.githubusercontent.com/jonnygovish/IP3/master/assets/backgrounds/h_img.jpg");
    height:1000px;
    width: 100%;
    margin: auto;
    display: table;
    background-size:cover;
    /* padding: center; */

}
body {
    text-align: center;
}
.welcome{
    text-align: center;
    vertical-align: middle;
    max-width: 500px;
    margin:auto;
    display: tabl-cell;
    color: white;
    padding-top: 300px;
}
#services{
margin-top: 9%;    
}
.services {
    background-image: url("https://raw.githubusercontent.com/jonnygovish/IP3/master/assets/backgrounds/s_image.jpg");
    width: 100%;
    height: 450px;
    color: white;
    display: table;
    text-align: bottom;
    /* padding: 30%; */
}
.contact {
    background-image: url("https://raw.githubusercontent.com/jonnygovish/IP3/master/assets/backgrounds/c_image.jpg");
    width: 100%;
    height:650px;
    margin:auto;
    text-align: center;
    color: white;
    padding-top: 20px;
    text-size-adjust: none;
   }
   input, textarea {
    background-color: rgba(0,0,0,0.0);
    text-decoration-color: white;
   }
   
   .translucent{
    background-color: rgba(0,0,0,0.5);
   }
   #btns{
    border: 1px solid rgb(0,0,0,0,5);
    border-radius: 20px;
   }
/* .portfolio {
    text-align: center;
    display:table-cell;
    width: 100%;
    align-items: horizontal;
    position: relative;
    float: left;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    padding:15px 12px;
    box-sizing: border-box;
    width:  100px; height: 100px;

} */
.mouse-click{
  padding-top: 250px;
}
.contback input{
    width: 20%;
    color: white;
}
::placeholder{
    color: white;
}
.contback textarea{
    padding-bottom: 10%;
    width: 63%;
    margin-right: 3%;

}

/* Style the form - display items horizontally */
.form-inline { 
    display: flex;
    flex-flow: row wrap;
    align-items: center;
  }
 .row-icons {
     text-align: center;
     padding-top:25px;
 }
 .row-footer{
     text-align: center;
 }
 .container-plot{
     width: 100%;
     margin-bottom: 50px;
 }
.container {
    height: 100%;
}
.view{
    justify-content: space-around;
}
#img{
    width: 100;
    margin-top: 5%;
}